<div id="project-selector" class="modal hide fade in" style="display: none;" aria-hidden="false" ng-include="'partials/project/project-selector.html'" data-ng-controller="projectsCtrl"></div>
<div class="row-fluid" ng-repeat="not in notificationService.getNotifications() | filter: {displayed: false}">
    <notification key="not.key" title="not.title" text="not.text" sticky="not.sticky"></notification>
</div>
