<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Walli - project dashboard</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-top">
            <span class="sr-only">Toggle Top Navigation</span>
            <i class="icon-align-justify"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse navbar-collapse-top" data-ng-controller="authenticationCtrl">
        <div class="navbar-right">
            <ul class="nav navbar-nav navbar-left">
                <li class="cdrop active"><a  modal="#project-selector"><i class="icon-th-large"></i> <span>Projects</span></a></li>
                <li class="cdrop"><a href="/#/settings"><i class="icon-wrench"></i> <span>Settings</span></a></li>
                <li class="cdrop" ng-show="loggedIn"><a ng-click="logout()"><i class="icon-off"></i> <span>Logout</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="project-selector" class="modal fade" ng-include="'partials/project/project-selector.html'"></div>