<div ng-include="'partials/navigation.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-wrench"></i>
                        Settings
                    </h3>
                    <h5>information</h5>
                </div>
                <div class="pull-left header"></div>
            </div>
        </div>
    </div>


    <div class="container-fluid padded">
        <h4>General settings</h4>
        <div class="row-fluid">
            <div class="col-md-12" data-ng-include src="'partials/configuration/settings.html'"></div>
        </div>
    </div>


    <div class="container-fluid padded">
        <h4>Projects and users</h4>
        <div class="row-fluid">
            <div class="col-md-3" data-ng-include src="'partials/project/projects.html'"></div>
            <div class="col-md-3" data-ng-include src="'partials/source/sources.html'"></div>
            <div class="col-md-3" data-ng-include src="'partials/statuses.html'"></div>
            <div class="col-md-3" data-ng-include src="'partials/user/users.html'"></div>
        </div>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>