<div ng-include="'partials/navigation.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-dashboard"></i>
                        Welcome
                    </h3>
                    <h5>
                        <span>to walli</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="box">
                <div style="text-align: center;">
                    <br />
                    <h1>Wallboards with Walli, super easy and flexible!</h1>
                    <p class="lead">Modular, scalable and extendable, just the way you want it.</p>
                    <a modal="#project-selector" role="button" class="btn btn-large btn-success" data-toggle="modal">Get started</a>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>