.product-info > li {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #6B787F;
}