.state {
  position: relative;
  font-size: 10px;
  line-height: 45px;
  border-radius: 50em;
  border: 2px solid #FFF;
  height: 6px;
  width: 6px;
  text-align: center;
  vertical-align: text-top;
  margin: 4px auto;
}
