<div ng-include="'partials/navigation.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-external-link"></i>
                        Configuration settings
                    </h3>
                    <h5>editor</h5>
                </div>
                <div class="pull-left header"></div>
            </div>
        </div>
    </div>
    <div class="container padded">
        <div class="row">
            <div class="col-sm-3">
                <ng:include src="'partials/configuration/settings.html'"></ng:include>
            </div>
            <div class="col-sm-9">
                <div class="box">
                    <div class="box-header">
                        <div class="title">Configuration setting - <span class="highlight">{{configuration.name}}</span></div>
                    </div>
                    <div class="box-content">
                        <form name="settingForm" class="form-horizontal fill-up">
                            <div class="padded">
                                <control-group label="Setting" id="name">
                                    <div class="col-sm-11">
                                        <input type="text" name="name" id="name" ng-model="configuration.name" required ng-disabled="configuration.id" unique="uniqueConfiguration()">
                                        <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="settingForm.name.$dirty && settingForm.name.$invalid">
                                            <div class="formErrorContent" ng-show="settingForm.name.$error.required">* Setting name is required.<br></div>
                                            <div class="formErrorContent" ng-show="settingForm.name.$error.unique">* This name is already in use<br></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <state-icon config='stateConfig' state='settingForm.name.$valid'/>
                                    </div>
                                </control-group>

                                <control-group label="Value" id="value">
                                    <div class="col-sm-11">
                                        <input type="text" name="value" id="value" ng-model="configuration.value" required>
                                        <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="settingForm.value.$dirty && settingForm.value.$invalid">
                                            <div class="formErrorContent" ng-show="settingForm.value.$error.required">* Value is required.<br></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <state-icon config='stateConfig' state='settingForm.value.$valid'/>
                                    </div>
                                </control-group>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-blue" ng-click="save()"
                                        ng-disabled="isClean() || settingForm.$invalid">Save changes
                                </button>
                                <a class="btn btn-default" href="#/settings">Cancel</a>

                                <div class="pull-right">
                                    <div>
                                        <button ng-click="destroy()" ng-show="configuration.id" class="btn btn-red">Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>